=begin
{{> api_info}}
=end

# # Common files
# require '{{gemName}}/api_client'
# require '{{gemName}}/api_error'
# require '{{gemName}}/version'
# require '{{gemName}}/configuration'

# Models
# {{#models}}
# {{#model}}
# require_relative './{{gemName}}/{{modelPackage}}/{{classFilename}}'{{/model}}
# {{/models}}

# APIs
{{#apiInfo}}
{{#apis}}
require_relative './{{importPath}}'
{{/apis}}
{{/apiInfo}}
